.interact {
    z-index: 1000;
    position: absolute;
    right: -201px;
    top: 0;
    bottom: 0;
    width: 200px;
    background: $white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;

    &--open {
        right: 0;
    }

    &__toggle {
        width: 44px;
        height: 40px;
        position: absolute;
        top: 40px;
        left: -40px;
        background: $white;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        border-radius: 3px 0 0 3px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        color: $interact__click;
    }

    &__list {
        list-style: none;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__item {
        margin: 20px;
        padding-bottom: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid $list-border;
        }
    }

    &__title {
        font-weight: bold;
        text-transform: uppercase;
        color: #3b3f43;
        text-align: center;
    }

    &__button {
        border: 1px solid $interact__click;
        background: $white;
        color: $interact__click;
        cursor: pointer;
        padding: 10px 0;

        &:hover {
            background: $interact__click;
            color: $white;
        }

        &:active {
            background: $interact__click--active;
            border-color: $interact__click--active;
            color: $white;
        }
    }

    &__input {
        color: $interact__input-color;
        margin-bottom: 10px;
        border: 1px solid $interact__input-border;
        padding: 10px;

        &:focus {
            border-color: $interact__input-border--focus;
        }
    }
}

.form-item {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    outline: none;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 3px;
    transition: all 0.1s ease;
}