$white: #fff;
$brand: #ffbc00;

$list-border: #d8d8d8;
$section-header: #3b3f43;

$interact__click: #327bff;
$interact__click--active: #005bff;

$interact__input-color: #ff1d86;
$interact__input-border: #ffbada; 
$interact__input-border--focus: #ff7db9; 